/* Importing font types */
@font-face{
  font-family: 'Afanan';
  src: url('fonts/Afanan.ttf');
}

/* Classes that will use fonts */
.AfananText {
	font-family: 'Afanan';
}

/* Bootstrap doesnt pad the top and bottom of rows and containers */
.defaultcontainer {
	padding-top:1.5em;
	padding-bottom:3em;
}


/* For the heading of the products page 
   As oer my wireframes */
.productheadcontainer {
	padding-top:1.5em;
	padding-bottom:1.5em;
	background-color: #1672A3;
	margin-top:.5em;
	margin-bottom:.5em
}

/*
This is for the content styles residing
in a product container */
.productcontent {
	text-align:center;
	padding-top: 1.5em;
	padding-bottom:1.5em;
	color:white;
}


/* Padding for the footer container */
.footercontainer {
	padding-top:.5em;
	padding-bottom:.25em;
	text-align: center;
}


/* Desktop footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ED7F28;
  color: white;
  text-align: center;
}

/* Mobile resolution rule for footer otherwise the content will overlap */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ED7F28;
  color: white;
  text-align: center;
}
}


/*Using this id image for a background i would never
use this ordinarily as ids should be unique for the purpose
of backend code like angular/react or jquery based component */
#backgroundimage {
	background-image: url('images/Backgroundimage.png');
}


/* Use this font align text, make sure the width of the table is 100% to match the bootstrap
   parent container */
table.university{
	width:100%;
	font-family: 'Afanan';
	font-size:1.5em;
	text-align:center;
}

/*This wont do anything because the image scales to
	100% as per img-fluid bootstrap law  but for the 
	sake of the assignment il add it*/
figure {
	float:right;
}

/*Stylistic content to be inline but still confirm to 
  Assignments specification for max marks */
dt {
	float: left;
}

dd {
		padding-bottom:.25em;
}

/*I Rarely use dt/dd but i will for the sake of the assignment
zzz */

/* Cant have h2-h6 child/parent elements so this is the substitute 
Grouping selector*/
ol, ul {
	font-size: 1.25em;
}

/* adding visibile table borders*/
table,th,td {
	border: 1px solid black;	
}

th {
	background-color: #a9a9a9;
}

/* Aligning text elements and adding spacing for mobile resolution */
.aboutmetimetable {
	text-align:center;
	padding-top: 1.5em;
	padding-bottom:1.5em;

}

/*using this for icons in my about page to space our anchors
  this is just a quick and nasty fix in my opinion */
.iconpadding {
	padding:1em;	
}

/*Font color class for when i want specific elements
  blue and what not */
.fontcolorblue {
	color: #1672A3;
}

/*Font color class for when i want specific elements
  blue and what not */
.fontcolorblack {
	color: black;
}

/* Demonstration of pseudo element */
.footerhyperlink {
	color:white;
}

.footerhyperlink:hover {
	color:black;
}
/* End pseudo element */

/* for breaking up the content im creating a new
hr child class for styling */
hr.productdivider {
	 border: 4px solid #1672A3;
}