/* Importing font types */
@font-face{
  font-family: 'Afanan';
  src: url('fonts/Afanan.ttf');
}

/* Classes that will use fonts */
.AfananText {
	font-family: 'Afanan';
}

/* Bootstrap doesnt pad the top and bottom of rows and containers */
.defaultcontainer {
	padding-top:1.5em;
	padding-bottom:1.5em;
}


/* For the heading of the products page 
   As oer my wireframes */
.productheadcontainer {
	padding-top:1.5em;
	padding-bottom:1.5em;
	background-color: #1672A3;
}

/*
This is for the content styles residing
in a product container */
.productcontent {
	text-align:center;
	padding-top: 1.5em;
	padding-bottom:1.5em;
	color:white;
}

/* Use this font align text, make sure the width of the table is 100% to match the bootstrap
   parent container */
table.university{
	width:100%;
	font-family: 'Afanan';
	font-size:1.5em;
	text-align:center;
}

/* Cant have h2-h6 child/parent elements so this is the substitute */
ol, ul {
	font-size: 1.25em;
}

/* adding visibile table borders*/
table,th,td {
	border: 1px solid black;	
}

/* Aligning text elements and adding spacing for mobile resolution */
.aboutmetimetable {
	text-align:center;
	padding-top: 1.5em;
	padding-bottom:1.5em;

}

/*using this for icons in my about page to space our anchors
  this is just a quick and nasty fix in my opinion */
.iconpadding {
	padding:1em;	
}

/*Font color class for when i want specific elements
  blue and what not */
.fontcolorblue {
	color: #1672A3;
}

/*Font color class for when i want specific elements
  blue and what not */
.fontcolorblack {
	color: black;
}

/* for breaking up the content im creating a new
hr child class for styling */
hr.productdivider {
	 border: 4px solid #1672A3;
}